html {
    scroll-behavior: smooth;
}

body {
    background: rgba(168, 19, 62, 1);
    font-family: 'F.C. BARCELONA', sans-serif;
    font-weight: bold;
    text-align: center;
}


#main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
    background-image: url("images/fcb_backgrounf.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: auto;
}

.win_lose {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 25px;
    background: rgba(237, 187, 0, 0.1);
    border-radius: 10px;
    border: 3px solid rgba(237, 187, 0, 1);
}

.wins, .losses {
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

h1 {
    margin: 10px 0;
    font-size: 50px;
    color: rgba(237, 187, 0, 1);
}

h2 {
    font-size: 75px;
    margin: 10px 0;
    color: #fff;
}

button {
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    font-size: 18px;
    margin: 5px;
}

button:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.icons {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.add_minus_reset {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.entry_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.save_delete {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.input_name input {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 16px;
}

#entries { 
    background: rgba(0, 77, 152, 1);
    padding: 20px;
    border-radius: 10px;
    margin: 30px auto;
}

.entries_top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#entries_font {
    font-size: 35px;
}

#save-el p {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

#increment-btn, #decrement-btn {
    background: rgba(168, 19, 62, 1);
}

#reset-btn, #save-btn, #delete-btn {
    background: rgba(237, 187, 0, 1);
}

#sort-btn {
    background: rgba(237, 187, 0, 1);
    width: 50px;
}
footer {
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: rgb(24, 23, 51);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}